body {
    box-sizing: content-box;
}

.container-master {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.container-add-meetup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container-center {
    margin-top: 20px;
    width: 80%;
    height: 100%;
    text-align: center;
    background-color: grey;
}

.container-meetup {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-add {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.meetup {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    background-color: whitesmoke;
}

.meetup-id {
    display: none;
}

h3 {
    margin: 20px !important;
    width: 100%;
    text-align: center;
}

.bg-faded {
    background-color: #809ebd !important;
}